{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/output.css' %}">  
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <title>{% block 'title' %} {% endblock 'title' %}</title>
</head>
<body>
    {% block 'content' %} {% endblock 'content' %}
    <script defer src="{% static '/js/auto_hide_toast.js' %}"></script>
</body>
</html>